# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.xccheckout
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Swift Package Manager
.build/

# Archives and signed artifacts
*.ipa
*.xcarchive
*.dSYM.zip

# Local secrets
*.mobileprovision
*.p12
*.cer
